.wrapper {
  display: grid;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 80px;
}

.box {
  width: 400px;
  border: 2px ;
  padding: 30px;
  margin: 20px;
  font-size: larger;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: background-color 0.3s;
}

.box:hover{
  background-color: #9D59D2;
}

.box:hover .btn {
  background-color: white;
  color: #9D59D2;
}

.heading {
  font-style: italic;
}

.img {
  width: 100%;
}

.btn {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: large;
  background-color: #9D59D2;
  color: white;
  border: none;
  transition: background-color 0.3s;
}


.title {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  font-size: 70px;
  font-weight: bold;
}
