<div class="wrapper">
  <div class="image">
    <img src="./assets/images/footer.jpg" alt="" class="img" />
  </div>
  <div class="wrapper-2">
    <div class="col-span-4">
      <img src="./assets/images/logo.png" alt="" class="logo" />
      <p class="text">
        Helping thousands of people in the Tampa Bay area and online to hit
        their fitness/ health and wellness goals since 2021.
      </p>
    </div>
    <div class="col-span-8">
      <div class="wrapper-3">
        <div class="col-span-3">
          <h3 class="heading">Quick Links</h3>
          <div class="links">
            <a [routerLink]="['/home']">Home</a>
            <a [routerLink]="['/about']">About</a>
            <a [routerLink]="['/service']">Services</a>
            <a [routerLink]="['/faq']">FAQ</a>
          </div>
        </div>
        <div class="col-span-5">
          <h3 class="heading">Contact</h3>
          <div class="links">
            <a href="">(813) 335-4456</a>
            <a href="">
              215 N. Howard Ave, <br />
              Suite #101Tampa, FL, <br />
              33606United States</a
            >
            <a href=""> aeonfrancofitness@gmail.com </a>
          </div>
        </div>
        <div class="col-span-4">
          <h3 class="heading">Services</h3>
          <div class="links">
            <a href="">4-Week Balance</a>
            <a href="">6-Week Linear Strength</a>
            <a href="">10-Week Bodybuilding</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
